@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink-stroke {
  0% {
    stroke-opacity: 1;
  }
  100% {
    stroke-opacity: 0;
  }
}

.node {
  fill: $color-primary;
  stroke: $color-secondary;
  stroke-width: 4px;
  animation: fade-in 0.2s;
  transition: fill 0.15s ease;

  &:hover {
    fill: $color-secondary;
    transition: fill 0.15s ease;
  }
  &.head {
    fill: $color-head-1;
    stroke: $color-head-2;

    &:hover {
      fill: $color-head-2;
    }
  }
  &.tail {
    fill: $color-tail-1;
    stroke: $color-tail-2;

    &:hover {
      fill: $color-tail-2;
    }
  }
  &.focus {
    animation: fade-in 0.2s, blink-stroke 0.5s linear 0.2s infinite alternate;
  }
}
.link {
  stroke: $color-secondary;
  animation: fade-in 0.2s;
  transition: stroke 0.15s ease;

  &:hover {
    stroke: $color-primary;
    transition: stroke 0.15s ease;
  }
}
.node-label {
  transform: translateX(-12px) translateY(24px);
  paint-order: stroke;
  stroke: white;
  stroke-width: 2px;
  stroke-linecap: butt;
  stroke-linejoin: miter;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}