.node {
  fill: $color-primary;
  stroke: $color-secondary;
  stroke-width: 4px;
  transition: fill 0.15s ease;

  &:hover {
    fill: $color-secondary;
    transition: fill 0.15s ease;
  }
}

.link {
  stroke: $color-secondary;
  transition: stroke 0.15s ease;

  &:hover {
    stroke: $color-primary;
    transition: stroke 0.15s ease;
  }
}

.node-label {
  transform: translateX(-10px) translateY(30px);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}