$color-primary: #36B7C9;
$color-secondary: #1C6B76;
$color-grey-1: #697074;
$color-grey-2: #9AA8B0;
$color-grey-3: #C3D1D9;
$color-grey-4: #E7EEF2;
$color-error: #c51e1e;
$color-head-1: #c58816;
$color-head-2: #7e5710;
$color-tail-1: #7c4cee;
$color-tail-2: #4718b4;