@import './variables';
@import './fonts';

html {
  overflow-x: hidden;
  overflow-y: scroll;
}
body {
  min-height: 100vh;
}
h1 {
  font-family: 'Poppins', 'Spoqa Han Sans Neo', sans-serif;
  font-size: 2.5em;
  font-weight: 500;
}
h2 {
  font-family: 'Poppins', 'Spoqa Han Sans Neo', sans-serif;
  font-size: 1.5em;
  font-weight: 500;
}
h3 {
  font-family: 'Poppins', 'Spoqa Han Sans Neo', sans-serif;
  font-size: 1.25em;
}
p {
  font-family: 'Poppins', 'Spoqa Han Sans Neo', sans-serif;
}