@import './variables';
@import './fonts';

* {
  font-family: 'Poppins', 'Spoqa Han Sans Neo', sans-serif;
}
html {
  overflow-x: hidden;
  overflow-y: scroll;
}
body {
  min-height: 100vh;
}
h1 {
  font-size: 2.5em;
  font-weight: 500;
}
h2 {
  font-size: 1.5em;
  font-weight: 500;
}
h3 {
  font-size: 1.25em;
}
a {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: all 0.15s ease;

  &:hover {
    border-bottom: 2px solid $color-primary;
    transition: all 0.15s ease;
  }
  &:active {
    color: $color-primary;
    transition: all 0.15s ease;
  }
  &.router-link-active {
    border-bottom: 2px solid $color-primary;;
    transition: all 0.15s ease;
  }
}

.fade-enter-active,
.fade-leave-active,
.fade-drawer-enter-active,
.fade-drawer-leave-active {
  transition: all 0.15s ease;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.fade-drawer-enter,
.fade-drawer-leave-to {
  transform: translateX(-5px);
  opacity: 0;
}